<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/about.css" />
  </head>

  <body>
    <div class="header">
      <div class="header-title">QuickLink URL Shortener</div>
      <div class="header-links">
        <a href="/">home</a>
        <!-- Include the About page using EJS syntax -->
      </div>
    </div>
    <div class="container">
      <br />
      <h1 class="about-heading">About</h1>
      <p class="about-content">
        The URL Shortener web application simplifies long website addresses
        (URLs) into shorter, user-friendly versions. It offers a convenient way
        to generate compact URLs that are easier to share through various
        platforms like social media, email, or messaging. With the URL
        Shortener, you can take any lengthy URL and create a shortened version
        consisting of a unique identifier or a combination of alphanumeric
        characters. This makes the URL concise and more manageable without
        altering the destination of the link. In addition to URL shortening, the
        application provides a search functionality that allows you to retrieve
        previously shortened URLs. This feature enables you to quickly access
        and reuse shortened URLs you have generated in the past, saving you time
        and effort. Furthermore, the URL Shortener includes tracking
        capabilities to monitor the performance of your shortened URLs. It
        captures valuable click data, such as the number of clicks. This information helps you gain insights
        into the effectiveness of your link-sharing activities and optimize your
        strategies accordingly.
      </p>
      <br />

      <div class="contacts-container">
        <h2 class="contacts-heading">Contacts:</h2>
        <p>
          If you have any questions, suggestions, or feedback regarding the URL
          Shortener web application, please feel free to reach out to us:
        </p>
        <ul class="contacts-list">
          <li><strong>Name:</strong> Sakhare Vaishnavi Makaji</li>
          <li><strong>Email:</strong> sakhare_vm@ce.iitr.ac.in</li>
          <li><strong>Mobile:</strong> 8010753455</li>
        </ul>
      </div>
    </div>
    <footer class="footer">
      <div class="footer-content">
        <span
          >&copy; 2023 All rights reserved. Created with ❤️ by Vaishnavi.</span
        >
      </div>
    </footer>
  </body>
</html>
