body {
  background-color: #f2f2f2; 
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
/* .container {
  max-width: 100%; /* Ensure the container doesn't exceed the page width */
  /* padding: 0 20px; Add horizontal padding to prevent content from sticking to the edges */
  /* box-sizing: border-box; Include padding in the container's total width */
/* } */


.header {
  background-color: #007bff;
  padding: 10px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff; 
}

.header-links a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 10px;
}

.header-links a:hover {
  text-decoration: underline;
}

/* Custom CSS for the form */
.form-group {
  margin-bottom: 15px;
}
.form-group {
  margin-bottom: 20px;
}

.form-control {
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-submit {
  padding: 10px 20px;
}

.form-submit:hover {
  background-color: #007bff;
}

.short-url {
  margin-top: 20px;
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.short-url h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #ff5722; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

.short-url p {
  margin-bottom: 5px;
  font-size: 16px;
  color: #333333;
}

.short-url a {
  color: #007bff;
  text-decoration: none;
}

.short-url a:hover {
  text-decoration: underline;
}

.short-url .timestamp {
  font-size: 14px;
  color: #888888;
}

.short-url .notes {
  font-style: italic;
  color: #555555;
}

.short-url .no-urls {
  text-align: center;
  font-size: 18px;
  color: #555555;
}
.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.custom-table th {
  background-color: #f8f9fa;
  color: #333333;
  font-weight: bold;
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #e9ecef;
}

.custom-table td {
  padding: 12px;
  color: #333333;
  border-bottom: 1px solid #e9ecef;
}

.custom-table tbody tr:hover {
  background-color: #f2f2f2;
}

.custom-table a {
  color: #007bff;
  text-decoration: none;
}

.custom-table a:hover {
  text-decoration: underline;
}

.footer {
  background-color: #333333;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer span {
  font-size: 14px;
  color: #fdfbfb; 
}

.heart {
  color: #ff0000;
}
